@using Microsoft.CodeAnalysis.Differencing
@model IEnumerable<ITFuture.Models.Question>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
<h1>Questions</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <hr/>

@foreach (var item in Model)
{
    <h4><span class="badge bg-info" style="font-size: small">Kategori</span></h4>
    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
    <p><span>
            @Html.DisplayFor(modelItem => item.Description)
        </span>
    </p>
    <h5 style="font-size:x-small">Asked by : @Html.DisplayFor(modelItem => item.User.UserName)</h5>
    <h6 style="font-size:x-small">Total Answer : <span class="badge bg-secondary">@Html.DisplayFor(modelItem => item.Answers.Count)</span></h6>
    
    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    <hr/>
}
</div>